# 域名
DOMAIN=127.0.0.1
DATABASE_NAME=simple_bank
SQLC_YAML=sqlc.yaml

# Postgres SQL
POSTGRES_USER=root
POSTGRES_PWD=secret
POSTGRES_PORT=5432

# MySQL
MYSQL_USER=root
MYSQL_PWD=secret
MYSQL_PORT=3306
